/*------------ Import common ------------*/
/*-------- Reset CSS --------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select, input {
  outline: none;
  border: none;
}

html, body {
  font-family: GoogleSan;
}

/*-------- Table format --------*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 16px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table, th, td {
  border-bottom: 1px solid #bbbbbb;
}

th {
  text-align: center;
}

/*-------- Font Import --------*/
@font-face {
  font-family: GoogleSan;
  src: url("../../content/font/GoogleSans-Regular.ttf");
}

/*-------- Common color --------*/
/*-------- CSS for page layout --------*/
.right-swapper {
  float: left;
  width: calc(100% - 221px);
}

/*-------- Common CSS for btn --------*/
.btn {
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

/*-------- Format Scroll bar --------*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/*-------- CSS text-align --------*/
.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  float: left;
  /*--------------- sidebar top ---------------*/
  /*--------------- sidebar main ---------------*/
}

.sidebar__top {
  height: 60px;
  background-color: grey;
}

.sidebar__main-list {
  height: 40px;
  width: 100%;
  padding-left: 24px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  font-size: 13px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__main-list-img {
  margin: auto 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.sidebar__main-list:hover {
  background-color: #e5e5e5;
  color: #000;
}

.sidebar__main-list.active {
  background-color: #019160;
  color: #fff;
}

.sidebar__main-list.active i {
  color: #fff;
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.header__left select {
  font-size: 20px;
  font-weight: 600;
  width: auto;
  padding-right: 10px;
  margin-left: -5px;
}

.header__right {
  height: 40px;
  max-width: 200px;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right .user-avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../content/img/avt.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e5e5e5;
}

.header__right .user-name {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px;
}

.header__right .user-action {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  height: calc(100vh - 61px);
  width: 100%;
  padding: 0 20px;
  /*------------------ Content top ------------------*/
  /*------------------ Content middle ------------------*/
  /*------------------ Content main ------------------*/
  /*------------------ Content bottom ------------------*/
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__top-header {
  font-size: 25px;
}

.content__top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__top-btn .btn {
  padding: 10px 15px;
  font-size: 18px;
}

.content__top-btn .btn-syn {
  color: #019160;
  margin-right: 10px;
}

.content__top-btn .btn-action {
  background-color: #019160;
  color: white;
}

.content__top-btn .btn-action span:first-child {
  margin-right: 3px;
}

.content__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.content__middle-input {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__middle-input .search-bar {
  height: 40px;
  border: 1px solid #bbbbbb;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 20px;
}

.content__middle-input .search-bar:focus {
  border-color: #019160;
  outline: #019160;
}

.content__middle-input .search-name {
  min-width: 370px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 40px;
  background-image: url("../../content/icon/search-icon.png");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
}

.content__middle-input .search-department {
  width: 300px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.content__middle-input .search-status {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.content__middle-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__middle-btn .btn {
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}

.content__middle-btn .btn-download {
  margin-right: 10px;
}

.content__main {
  height: calc(100vh - 261px);
  overflow: auto;
  position: relative;
}

.content__bottom {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 0 15px;
}

.content__bottom .text-left {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.content__bottom .text-right {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  text-align: right;
}

.content__bottom .pagination-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  min-width: 360px;
}

.content__bottom .pagination-bar > span {
  display: inline-block;
  cursor: pointer;
}

.content__bottom .pagination-bar .pagination-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e5e5e5;
  border: 1px solid #bbbbbb;
  text-align: center;
  line-height: 30px;
  margin: 0 4px;
}

.content__bottom .pagination-bar .pagination-number.active {
  background-color: #019160;
  color: #fff;
  font-weight: 600;
}

.content__bottom .pagination-bar .move-btn {
  font-size: 20px;
  margin: 0 10px;
}

/*------------ Import page ------------*/
/*------------ Import component ------------*/
.loader {
  width: 300px;
  height: 300px;
  background-image: url(../../content/icon/loading-icon.gif);
  background-size: cover;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: none;
}
/*# sourceMappingURL=style.css.map */